* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font: 16px; //importar a fonte no index.html pelo google fonts
}

#root {
  max-width: 960px; //dar responsividade a tela
  margin: 0 auto;
  padding: 40px 20px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 48px;
  color: #3a3a3a;
  max-width: 450px; // Largura do elemento na exibição
  line-height: 56px; // espaçamento entre linhas
  margin-top: 100px; // Distancia do elemento para o topo ou para o elemento de cima
}

.form {
  max-width: 700px; // ver o layout - la tem 712px. bom parametro para utilizar
  display: flex; //forçar que fique um do lado do outro input e button
}

input {
  flex: 1; //input ocupa todo o tamanho do max-width menos o botão
  margin-top: 60px;
  width: 280px;
  height: 50px;
  padding: 0 24px;
  border: 1px; // retira as linhas de borda
  border-radius: 5px 0 0 5px; //da esquerda - direita - direita de baixo - esquerda de baixo
  color: #706c6c;
  border: 2px solid #b3b3b3;

  &::placeholder {
    color: #a8a8b3; //clarear o texto do input (digite o nome do repositório)
  }
}

button {
  width: 180px;
  height: 50px;
  background: #00ad4e;
  border-radius: 0px 5px 5px 0px; // perceba que para arredondar os dois cantos do botao do lado direito é o inverso do que foi aplicado no input
  border: 0;
  color: #fff; // cor do texto
  font-weight: bold; // negrito para o texto
  transition: background-color 0.2s;
  &:hover {
    // se botar o & as regras de estilização sao aplicadas nesse button em específico
    background: #069e4a; // usar o JS no css é colocar o $ {()};
  }
}
